@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to star project. </h1>
    <h1 class="display-4">Welcome to Deveops training. </h1>
    <h1 class="display-4">New branch created called branch1 </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
